*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

header {
    width: 100%;
    height: 70px;
    background: #141414;
}

.all-movies{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.movie{
  width: 300px;
  height: 200px;
  margin: 20px 0;
  background-color: pink;
}
