<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js" integrity="sha512-bZS47S7sPOxkjU/4Bt0zrhEtWx0y0CRkhEp8IckzK+ltifIIE9EMIMTuT/mEzoIMewUINruDBIR/jJnbguonqQ==" crossorigin="anonymous"></script>
  <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css">
  <script src="https://cdn.jsdelivr.net/npm/vue"></script>
  <link rel="stylesheet" href="css/style.css">
  <title>Boolflix</title>
</head>
<body>

  <div id="app" class="container">
    <header>
        <input type="text" v-model="query" @keyup.enter="search" placeholder="Cerca il tuo film o la tu serie TV">
        <button type="button" name="button" v-model="query" @click="search">Cerca!</button>
    </header>

    <main>
      <div class="all-movies">
        <div class="movie" v-for="film in films">
          <div class="poster">
          <img v-if="film.poster_path === null" src="https://www.altavod.com/assets/images/poster-placeholder.png" alt="Locandina Film">
          <img v-else :src="'https://image.tmdb.org/t/p/'+'w342'+ film.poster_path" alt="Locandina Film">
          </div>
          <h2>{{film.title}}</h2>
          <h3>{{film.original_title}}</h3>
          <div class="language">
          <img :src="'img/' + film.original_language + '.png'" alt="language">
          <!-- <h3>{{film.original_language}}</h3> -->
          </div>
          <div class="star">
            <div class="star-full" v-for="stella in voto(film.vote_average)"><i class="fas fa-star"></i></div>
            <div class="star-empty" v-for="stella in 5-voto(film.vote_average)"><i class="far fa-star"></i></div>
          </div>
          <h3>FILM</h3>
        </div>
        <div class="movie" v-for="serie in tv">
          <div class="poster">
          <img v-if="serie.poster_path === null" src="https://www.altavod.com/assets/images/poster-placeholder.png" alt="Locandina Film">
          <img v-else :src="'https://image.tmdb.org/t/p/'+'w342'+ serie.poster_path" alt="Locandina Tv">
          </div>
          <h2>{{serie.name}}</h2>
          <h3>{{serie.original_name}}</h3>
          <div class="language">
          <img :src="'img/' + serie.original_language + '.png'" alt="language">
          <!-- <h3>{{serie.original_language}}</h3> -->
          </div>
          <h3>SERIE TV</h3>
        </div>
      </div>
    </main>

  </div>

  <script src="js/script.js" charset="utf-8"></script>
</body>
</html>
